<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Trippo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TrippoShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B36CB4ED1F857296004271F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36CB5061F857296004271F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36CB5111F857296004271F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36CB5271F8572A7004271F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
